@charset "ISO-8859-1";
body{
	background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQltMZgZNCi0FgE53Mb-AO1EOOdVloTyBw9mg&s');
	background-size:cover;
	height:100vh;
	background-position:center;
	
}
fieldset{
	margin-left:400px;
	margin-top:100px;
	width:400px;
	padding:20px;
	background-color:rgba(0,0,0,0.5);
	font-size:30px;
	
	
}
#btn{
	width:150px;
	padding:5px;
	font-size:20px;
	background-color:blue;
	color:white;
	border-radius:20px;
	
	
}
input{
	height:25px;
	width:200px
}



